<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="DeptDto" type="site.roombook.domain.DeptDto"/>
        <typeAlias alias="List" type="java.util.List"/>
        <typeAlias alias="EmplDto" type="site.roombook.domain.EmplDto"/>
        <typeAlias alias="BlngDeptDto" type="site.roombook.domain.BlngDeptDto"/>
    </typeAliases>
</configuration>