<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="DeptDto" type="site.roombook.domain.DeptDto"/>
        <typeAlias alias="List" type="java.util.List"/>
        <typeAlias alias="EmplDto" type="site.roombook.domain.EmplDto"/>
        <typeAlias alias="BlngDeptDto" type="site.roombook.domain.BlngDeptDto"/>
        <typeAlias alias="DeptAndEmplDto" type="site.roombook.domain.DeptAndEmplDto"/>
        <typeAlias alias="BlngDeptAndEmplIdDto" type="site.roombook.domain.BlngDeptAndEmplIdDto"/>
        <typeAlias alias="RescDto" type="site.roombook.domain.RescDto"/>
        <typeAlias alias="SpaceDto" type="site.roombook.domain.SpaceDto"/>
        <typeAlias alias="FileDto" type="site.roombook.domain.FileDto"/>
        <typeAlias alias="SpaceRescDto" type="site.roombook.domain.SpaceRescDto"/>
        <typeAlias alias="SpaceRescFileDto" type="site.roombook.domain.SpaceRescFileDto"/>
    </typeAliases>
</configuration>