<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <typeAliases>
        <typeAlias alias="DeptDto" type="store.roombook.domain.DeptDto"/>
        <typeAlias alias="List" type="java.util.List"/>
        <typeAlias alias="EmplDto" type="store.roombook.domain.EmplDto"/>
        <typeAlias alias="BlngDeptDto" type="store.roombook.domain.BlngDeptDto"/>
        <typeAlias alias="DeptAndEmplDto" type="store.roombook.domain.DeptAndEmplDto"/>
        <typeAlias alias="RescDto" type="store.roombook.domain.RescDto"/>
        <typeAlias alias="SpaceDto" type="store.roombook.domain.SpaceDto"/>
        <typeAlias alias="FileDto" type="store.roombook.domain.FileDto"/>
        <typeAlias alias="SpaceRescDto" type="store.roombook.domain.SpaceRescDto"/>
        <typeAlias alias="SpaceInfoAndTimeslotDto" type="store.roombook.domain.SpaceInfoAndTimeslotDto"/>
        <typeAlias alias="EmailVerfDto" type="store.roombook.domain.EmailVerfDto"/>
        <typeAlias alias="JwtDto" type="store.roombook.domain.JwtDto"/>
        <typeAlias alias="AuthChgHistDto" type="store.roombook.domain.AuthChgHistDto"/>
        <typeAlias alias="SpaceBookDto" type="store.roombook.domain.SpaceBookDto"/>
        <typeAlias alias="SpaceBookAndSpaceDto" type="store.roombook.domain.SpaceBookAndSpaceDto"/>
    </typeAliases>
</configuration>