.emplListContainer {
    width: 1000px;
    margin: 30px 0 50px 0;
}

.emplListHeader
, .emplRowSub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.emplListHeader {
    font-weight: 600;
    background-color: #f8df93;
    padding: 8px 11px;
}

.emplListContent {
    display: flex;
    flex-direction: column;
}

.emplListContainer .toggleBox {
    background-color: #fff5d6;
    padding: 20px 20px;
}

.emplListContainer .emplColumn {

}
.emplListContainer .emplRow {

}
.emplListContainer .emplRowSub {
    padding: 10px 7px;
    cursor: pointer;
}
.emplListContainer .emplName {
    width: 17%;
}

.emplListContainer .emplEmail {
    width: 26%;
}

.emplListContainer .emplId {
    width: 20%;
}

.emplListContainer .emplno{
    width: 9%;
}

.emplListContainer .emplAuthName {
    width: 12%;
}

.emplListContainer .emplToggleBoxHeader {
    font-size: 17px;
    font-weight: 600;
}


.inputLabel {

}

.inputRow {

}
