input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.rootContainer {
    width: 1000px;
}

.paginationContainer {
    display: block;
    margin: 20px auto;
    text-align: center;
}

.boldFont{
    font-weight: bold;
}

.paginationArrow {
    display: inline-block;
    margin: 0 55px;
}

.paginationArrow button:disabled{
    color: #1d1d1f52;
    background-color: transparent;
    border: none;
}

.iconChevronStart::after{
    content: '\3008';
    font-size: 20px;
    font-weight: 800;
}

.iconChevronEnd::after{
    content: '\3009';
    font-size: 20px;
    font-weight: 800;
}

.chevronBtn {

}

.paginationPageNumber {
    display: inline-block;
    font-size: 17px;
    color: #515151;
}

.currentPageInput {
    width: 25px;
    height: 35px;
    border-radius: 7px;
    border: solid 1px #b1afaf;
    text-align: center;
    font-size: 17px;
    color: #515151;
}

.pageSlash {
    margin: 0px 8px;
}

.totalPageNumber {

}

