select::-ms-expand {
    display: none;
}
.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.bookEditRootWrapper {
    width: 800px;
    margin: 0 auto;
    padding: 40px 0 60px 0;
}

.spaceInfo {
    display: flex;
    margin: 10px 0;
}

.spaceInfo > * {
    margin-right: 7px;
}

.spaceInfoRow {
    margin: 10px 0;
}

.maxCapacity {
    display: flex;
    align-items: center;
    line-height: 18px;
}

.maxCapacity::before {
    content: '';
    display: inline-block;
    background: url(../img/icon_person.svg);
    background-size: cover;
    filter: contrast(0.2);
    width: 16px;
    height: 16px;
    margin-right: 3px;
}

.maxBookingTime {
    display: flex;
    align-items: center;
    line-height: 18px;
}

.maxBookingTime::before {
    content: '';
    display: inline-block;
    background: url(../img/icon_lock_clock.svg);
    background-size: cover;
    filter: contrast(0.2);
    width: 16px;
    height: 16px;
    margin-right: 3px;
}

.weekendYn {
    display: inline-block;
    background-color: #0000008a;
    border-radius: 3px;
    padding: 3px 5px;
    text-align: center;
    color: white;
    font-size: 13px;
}

.bookingAvailableTime {
    display: flex;
    align-items: center;
    line-height: 18px;
}

.bookingAvailableTime::before {
    content: '';
    display: inline-block;
    background: url(../img/icon_clock.svg);
    background-size: cover;
    filter: contrast(0.2);
    width: 16px;
    height: 16px;
    margin-right: 3px;
}

.timeSelectBtn {
    height: 80px;
    text-align: right;
    align-content: center;
}

.timeSelect {
    font-size: 18px;
}

.timeSelect::after {
    content: '\3009';
    margin: 0 10px;
}

.bookedTime {
    color: red;
}

.bookingBeginTime,
.bookingEndTime{
    width: 150px;
    height: 28px;
    border-radius: 9px;
    border: 1px solid #afafaf;
    font-size: 14px;
    cursor: pointer;
}

.bookingContent {
    width: 800px;
    height: 100px;
    border-radius: 10px;
    padding: 13px;
    font-size: 15px;
}

.bookingBtnWrapper {
    display: flex;
    flex-direction: row-reverse;
    margin: 30px 0 0 0;
}

/* myBook */
.myBookRoot {
    width: 800px;
    margin: 0 auto;
    padding: 30px 0;
}

.myBookList {
    width: 800px;
    margin: 0 auto;
}

.loadMoreTrigger {
    width: 800px;
    height: 150px;
}

.myBookHeader {
    width: 800px;
    margin: 0 auto;
}

.myBookHeader h1 {

}

.myBookItem .dropBtn::before {
    content: '\22EE';
}

.myBookItem {
    display: flex;
    flex-direction: initial;
    justify-content: space-between;
    padding: 20px 18px;
    margin: 11px auto;
    box-shadow: 0 4px 7px 4px rgba(16, 39, 112, 0.07);
    border-radius: 6px;
}

.myBookItem .dateTimeWrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
}

.myBookItem .myBookContent {
    width: 95%;
}

.myBookItem .myBookContent>div:not(:last-child) {
    margin-bottom: 7px;
}

.myBookItem .spaceName {
    font-size: 20px;
    font-weight: 600;
}

.myBookItem .menuDropdown {
    position: relative;
    display: inline-block;
}

.myBookItem .dropBtn {
    display: inline-block;
    width: 20px;
    height: 24px;
    text-align: center;
    cursor: pointer;
}

.myBookItem a {
    color: black;
    text-decoration: none;
}

.myBookItem .show {
    display: flex;
}

.myBookItem .cancelBooking {
    cursor: pointer;
}

.myBookRoot .outdatedBook {
    pointer-events: none;
    opacity: 0.4;
}