<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.roombook.dao.blngDeptMapper">
    <insert id="insertDeptMember">
        INSERT INTO blng_dept(BLNG_DEPT_CD, BLNG_EMPL_NO, REP_DEPT_YN, FST_REGR_IDNF_NO, LAST_UPDR_IDNF_NO)
        VALUES (#{blngDeptCd}, #{blngEmplNo}, #{repDeptYn}, #{fstRegrIdnfNo}, #{lastUpdrIdnfNo})
    </insert>

    <select id="selectAllBlngDept" resultType="BlngDeptDto">
        SELECT * FROM blng_dept
    </select>

    <select id="selectAllBlngDeptCnt" resultType="int">
        SELECT COUNT(*) FROM blng_dept
    </select>

    <select id="selectDeptEmplList" parameterType="String" resultType="EmplDto">
        SELECT i.DEPT_CD, e.EMPL_ID
        FROM (
                 SELECT bd.BLNG_EMPL_NO, d.DEPT_CD, d.DEPT_NM, d.ENG_DEPT_NM
                 FROM blng_dept bd
                          INNER JOIN dept d
                                     ON bd.BLNG_DEPT_CD = d.DEPT_CD
                 WHERE d.DEPT_CD = #{deptCd}
             ) i INNER JOIN empl e ON i.BLNG_EMPL_NO = e.EMPL_NO;
    </select>

    <delete id="deleteAll">
        DELETE FROM blng_dept
    </delete>

    <delete id="deleteBlngDepts" parameterType="Map">
        DELETE FROM blng_dept
        WHERE BLNG_DEPT_CD = #{blngDeptCd}
        AND BLNG_EMPL_NO IN
        <foreach item="item" collection="emplIDs"
                 open="(" separator="," close=")">
            (SELECT EMPL_NO from empl where EMPL_ID = #{item})
        </foreach>
    </delete>

    <insert id="insertBlngDepts" parameterType="BlngDeptAndEmplIdDto">
        INSERT INTO blng_dept(BLNG_DEPT_CD, BLNG_EMPL_NO, FST_REGR_IDNF_NO, LAST_UPDR_IDNF_NO)
        VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.blngDeptCd}
            , (SELECT EMPL_NO from empl WHERE EMPL_ID = #{item.emplId})
            , (SELECT @regrIdnfNo := EMPL_NO from empl WHERE EMPL_ID = #{item.fstRegrIdnfNo})
            , @regrIdnfNo)
        </foreach>
    </insert>

    <insert id="insertOneBlngDept" parameterType="BlngDeptAndEmplIdDto">
        INSERT INTO blng_dept(BLNG_DEPT_CD, BLNG_EMPL_NO, FST_REGR_IDNF_NO, LAST_UPDR_IDNF_NO)
        VALUES (#{blngDeptCd}, (SELECT EMPL_NO from empl where EMPL_ID = #{emplId}), #{fstRegrIdnfNo}, #{lastUpdrIdnfNo})

    </insert>
</mapper>