<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.roombook.dao.blngDeptMapper">
    <insert id="insertDeptMember">
        INSERT INTO blng_dept(BLNG_DEPT_CD, BLNG_EMPL_NO, REP_DEPT_YN, FST_REGR_IDNF_NO, LAST_UPDR_IDNF_NO)
        VALUES (#{blngDeptCd}, #{blngEmplNo}, #{repDeptYn}, #{fstRegrIdnfNo}, #{lastUpdrIdnfNo})
    </insert>

    <select id="selectAllBlngDept" resultType="BlngDeptDto">
        SELECT * FROM blng_dept
    </select>

    <select id="selectAllBlngDeptCnt" resultType="int">
        SELECT COUNT(*) FROM blng_dept
    </select>

    <delete id="deleteAll">
        DELETE FROM blng_dept
    </delete>

    <delete id="deleteBlngDepts" parameterType="Map">
        DELETE FROM blng_dept
        WHERE BLNG_DEPT_CD = #{blngDeptCd}
        AND BLNG_EMPL_NO IN
        <foreach item="item" collection="emplIDs"
                 open="(" separator="," close=")">
            (SELECT EMPL_NO from empl where EMPL_ID = #{item})
        </foreach>
    </delete>

    <insert id="insertBlngDepts" parameterType="BlngDeptAndEmplIdDto">
        INSERT INTO blng_dept(BLNG_DEPT_CD, BLNG_EMPL_NO, FST_REGR_IDNF_NO, LAST_UPDR_IDNF_NO)
        VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.blngDeptCd}, (SELECT EMPL_NO from empl where EMPL_ID = #{item.emplId}), #{item.fstRegrIdnfNo}, #{item.lastUpdrIdnfNo})
        </foreach>
    </insert>

    <insert id="insertOneBlngDept" parameterType="BlngDeptAndEmplIdDto">
        INSERT INTO blng_dept(BLNG_DEPT_CD, BLNG_EMPL_NO, FST_REGR_IDNF_NO, LAST_UPDR_IDNF_NO)
        VALUES (#{blngDeptCd}, (SELECT EMPL_NO from empl where EMPL_ID = #{emplId}), #{fstRegrIdnfNo}, #{lastUpdrIdnfNo})

    </insert>
</mapper>