<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="site.roombook.dao.deptMapper">
    <select id="selectAll" resultType="DeptDto">
        SELECT * FROM dept
    </select>

    <select id="select" resultType="DeptDto">
        SELECT * FROM dept WHERE DEPT_CD = #{deptCd}
    </select>

    <select id="selectAllForTree" resultType="DeptDto">
        SELECT DEPT_CD, UPP_DEPT_CD, DEPT_NM, DEPT_SORT_ODR
        FROM dept
    </select>

    <select id="selectDeptCntWithNm" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM dept WHERE DEPT_NM = #{deptNm}
    </select>

    <insert id="insert" parameterType="DeptDto">
        INSERT INTO dept (DEPT_CD, UPP_DEPT_CD, DEPT_MNGR_EMPL_NO, DEPT_NM, ENG_DEPT_NM, DEPT_SORT_ODR, FST_REGR_IDNF_NO,
                          LAST_UPDR_IDNF_NO)
        VALUES (#{deptCd},
                #{uppDeptCd},
                (SELECT EMPL_NO
                    FROM empl
                    WHERE EMPL_ID = #{emplId}),
                #{deptNm},
                #{engDeptNm},
                #{deptSortOdr},
                #{fstRegrIdnfNo},
                #{lastUpdrIdnfNo})
    </insert>

    <update id="updateAllDeptTreeOdrData" parameterType="List">
            UPDATE dept
            SET UPP_DEPT_CD = #{uppDeptCd},
            DEPT_SORT_ODR = #{deptSortOdr},
            LAST_UPDR_IDNF_NO = #{lastUpdrIdnfNo},
            Last_UPD_DTM = CURRENT_TIMESTAMP
            WHERE DEPT_CD = #{deptCd}
            AND (UPP_DEPT_CD <![CDATA[<>]]> #{uppDeptCd} OR DEPT_SORT_ODR <![CDATA[<>]]> #{deptSortOdr})
    </update>

    <update id="updateManager" parameterType="Map">
        UPDATE dept
        SET DEPT_MNGR_EMPL_NO = #{manager},
            LAST_UPD_DTM = CURRENT_TIMESTAMP,
            LAST_UPDR_IDNF_NO = #{empId}
        WHERE DEPT_CD = #{deptCd}
    </update>

    <update id="updateDeptOrder" parameterType="Map">
        UPDATE dept
        SET DEPT_SORT_ODR = #{num}
        WHERE DEPT_CD = #{deptCd}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM dept
        WHERE DEPT_CD = #{deptCd}
    </delete>

    <delete id="deleteAll">
        DELETE FROM dept
    </delete>

    <delete id="deleteDeptWithNoEmpl" parameterType="String">
        DELETE FROM dept
        WHERE DEPT_CD = #{deptCd}
            AND 0 = (SELECT COUNT(*)
                    FROM blng_dept
                    WHERE BLNG_DEPT_CD = #{deptCd})
    </delete>

    <select id="selectAllDeptCnt" resultType="int">
        SELECT COUNT(*) FROM dept
    </select>

    <select id="selectDeptCdAndNm" resultType="DeptDto">
        SELECT DEPT_CD, DEPT_NM
        FROM dept
    </select>

    <update id="updateDept" parameterType="map">
        update dept
        set DEPT_MNGR_EMPL_NO = (select EMPL_NO from empl where EMPL_ID = #{emplId}),
            DEPT_NM = #{deptNm},
            ENG_DEPT_NM = #{engDeptNm},
            LAST_UPD_DTM = current_timestamp,
            LAST_UPDR_IDNF_NO = #{lastUpdrIdnfNo}
        where DEPT_CD = #{deptCd};
    </update>

    <select id="selectMemberProfilesAndDeptName" parameterType="String" resultType="DeptAndEmplDto">
        SELECT d.DEPT_CD, d.DEPT_NM, d.ENG_DEPT_NM, e.EMPL_ID, e.PRF_PHOTO_PATH, e.RNM, e.ENG_NM, e.EMPNO, e.EMAIL
        FROM empl e
                 INNER JOIN blng_dept b ON e.EMPL_NO = b.BLNG_EMPL_NO
                 RIGHT JOIN dept d ON b.BLNG_DEPT_CD = d.DEPT_CD
        WHERE d.DEPT_CD=#{deptCd}
    </select>

    <select id="selectOneDeptAndMngrAndCdrDeptCnt" parameterType="String" resultType="DeptAndEmplDto">
        SELECT d.DEPT_NM, d.ENG_DEPT_NM, d.DEPT_CD, e.EMPL_ID, e.PRF_PHOTO_PATH, e.RNM, e.ENG_NM, e.EMPNO, e.EMAIL, c.CDR_DEPT_CNT
        FROM dept d
            LEFT JOIN empl e
                    ON e.EMPL_NO = d.DEPT_MNGR_EMPL_NO
            LEFT JOIN (
            SELECT UPP_DEPT_CD, COUNT(*) AS CDR_DEPT_CNT
            FROM dept
            WHERE UPP_DEPT_CD = #{deptCd}
            ) c
            ON c.UPP_DEPT_CD = d.DEPT_CD
        WHERE d.DEPT_CD = #{deptCd}
    </select>

    <select id="selectCdrDeptCnt" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM dept
        WHERE UPP_DEPT_CD = #{deptCd}
    </select>
</mapper>