<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.roombook.dao.emplMapper">

    <select id="selectDeptMemberEmplProfile" parameterType="String" resultType="EmplDto">
        SELECT EMPL_ID, PRF_PHOTO_PATH, RNM, ENG_NM, EMPNO, EMAIL
        From empl
        WHERE EMPL_NO IN(SELECT BLNG_EMPL_NO FROM blng_dept WHERE BLNG_DEPT_CD = #{deptCd})
    </select>

    <select id="selectOneEmpl" parameterType="String" resultType="EmplDto">
        SELECT * FROM empl WHERE EMPL_NO = #{emplNo}
    </select>

    <select id="selectOneEmplProfile" parameterType="String" resultType="EmplDto">
        SELECT EMPL_ID, PRF_PHOTO_PATH, RNM, ENG_NM, EMPNO, EMAIL
        FROM empl
        WHERE EMPL_NO = #{emplNo}
    </select>

    <select id="selectEmplProfiles" parameterType="String" resultType="EmplDto">
        SELECT EMPL_ID, PRF_PHOTO_PATH, RNM, EMPNO, EMAIL
        FROM empl
        WHERE RNM LIKE CONCAT('%', #{keyword}, '%') OR EMAIL LIKE CONCAT('%', #{keyword}, '%');
    </select>

    <insert id="insertEmpl" parameterType="EmplDto">
        INSERT INTO empl(EMPL_NO, EMPL_ID, PWD, EMAIL, PWD_ERR_TMS, RNM, ENG_NM, ENT_DT, BRDT, WNCOM_TELNO, EMPNO,
        MSGR_ID, PRF_PHOTO_PATH, SUBS_CERTI_YN, TERMS_AGRE_YN, SUBS_APRV_YN, SECSN_YN,
        FST_REGR_IDNF_NO, LAST_UPDR_IDNF_NO)
        VALUES (#{emplNo}, #{emplId}, #{pwd}, #{email}, #{pwdErrTms}, #{rnm}, #{engNm}, #{entDt}, #{brdt}, #{wncomTelno}, #{empno},
        #{msgrId}, #{prfPhotoPath}, #{subsCertiYn}, #{termsAgreYn}, #{subsAprvYn}, #{secsnYn},
        #{emplNo}, #{emplNo})
    </insert>

    <select id="selectAllEmpl" resultType="List">
        SELECT * FROM empl
    </select>

    <select id="selectAllEmplCnt" resultType="int">
        SELECT count(*) FROM empl
    </select>

    <select id="selectEmplById" resultType="emplDto">
        SELECT * FROM empl WHERE EMPL_ID = #{emplId};
    </select>

    <select id="selectEmplByEmail" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM empl WHERE EMAIL = #{email}
    </select>

    <delete id="deleteAll">
        DELETE FROM empl
    </delete>
</mapper>