<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.roombook.dao.fileMapper">
    <insert id="insertFiles" parameterType="java.util.List">
        <selectKey keyProperty="emplNo" resultType="String" order="BEFORE">
            SELECT EMPL_NO FROM empl WHERE EMPL_ID = #{list[0].emplId}
        </selectKey>
        INSERT INTO file(ATCH_LOC_NO, ATCH_LOC_CD, FILE_NM, FILE_ORGL_NM, FILE_TYP_NM, FILE_SIZE, FST_REGR_IDNF_NO, LAST_UPDR_IDNF_NO)
        VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.atchLocNo},#{item.atchLocCd},#{item.fileNm},#{item.fileOrglNm},#{item.fileTypNm},#{item.fileSize},#{emplNo},#{emplNo})
        </foreach>
    </insert>
    <select id="selectAll" resultType="FileDto">
        SELECT * FROM file
    </select>
    <select id="selectAllCnt" resultType="int">
        SELECT COUNT(*) FROM file
    </select>
    <select id="selectFilesWithSpaceData" parameterType="Map" resultType="FileDto">
        SELECT * FROM file WHERE ATCH_LOC_CD = #{atchLocCd} AND ATCH_LOC_NO = #{atchLocNo}
    </select>
    <select id="selectOneFileWithSpaceData" parameterType="Map" resultType="FileDto">
        SELECT ATCH_LOC_NO, ATCH_LOC_CD, FILE_NM, FILE_ORGL_NM, FILE_TYP_NM, FILE_SIZE
        FROM file
        WHERE ATCH_LOC_CD = #{atchLocCd} AND ATCH_LOC_NO = #{atchLocNo}
        ORDER BY FILE_NO ASC LIMIT 1
    </select>
    <select id="checkExceedingMaxFileCnt" parameterType="FileDto" resultType="int">
        SELECT COUNT(*) <![CDATA[<=]]> #{maxFileCnt}
        FROM file
        WHERE ATCH_LOC_CD = #{atchLocCd} AND ATCH_LOC_NO = #{atchLocNo}
    </select>
    <delete id="deleteAll">
        DELETE FROM file
    </delete>
    <delete id="deleteWithNames" parameterType="list">
        DELETE FROM file WHERE FILE_NM IN
        <foreach item="name" collection="list" open="(" close=")" separator=",">
            #{name}
        </foreach>
    </delete>
</mapper>